/* 
Variables 

Variables are placeholders for storing your information that you want to reuse throughout your styles. You can store things like colours, font-families, or any css value you think you may want to reuse. 
SCSS uses '$' symbol to declare variables
*/
/*
A mixin is similiar to a function. It has multiple declarations, as well as can take arguements.

To declare a mixin
@mixin mixin-name

To use a mixin
@include mixin-name

To use a mixin within arguements
@include($argument1, $argument2)

*/
body {
  background-color: #20b2aa;
}

.title {
  color: white;
  font-family: "Lobster Two", cursive;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
}

.stir {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
}

.i-shaker {
  color: #ffffff;
  font-size: 240px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.martini {
  text-align: center;
  color: #20b2aa;
  padding-top: 20vh;
  -webkit-animation: shk-shk 1s ease infinite;
          animation: shk-shk 1s ease infinite;
}

.martini:hover {
  -webkit-animation: none;
          animation: none;
}

.martini:hover {
  -webkit-animation: none;
          animation: none;
}

.i-spoon {
  color: #ffffff;
  text-align: center;
  font-size: 330px;
}

.stick {
  text-align: center;
  margin-top: -9.5rem;
  -webkit-animation: spin 10s infinite ease;
          animation: spin 10s infinite ease;
}

@-webkit-keyframes spin {
  50% {
    -webkit-transform: scale(0.95, 0.95);
            transform: scale(0.95, 0.95);
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}

@keyframes spin {
  50% {
    -webkit-transform: scale(0.95, 0.95);
            transform: scale(0.95, 0.95);
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}

@-webkit-keyframes shk-shk {
  7% {
    -webkit-transform: rotate(10deg) translateY(2rem);
            transform: rotate(10deg) translateY(2rem);
  }
  14% {
    -webkit-transform: rotate(10deg) translateY(-2rem);
            transform: rotate(10deg) translateY(-2rem);
  }
  21% {
    -webkit-transform: rotate(10deg) translateY(2rem);
            transform: rotate(10deg) translateY(2rem);
  }
  28% {
    -webkit-transform: rotate(10deg) translateY(-2rem);
            transform: rotate(10deg) translateY(-2rem);
  }
  35% {
    -webkit-transform: rotate(10deg) translateY(2rem);
            transform: rotate(10deg) translateY(2rem);
  }
  41% {
    -webkit-transform: rotate(10deg) translateY(-2rem);
            transform: rotate(10deg) translateY(-2rem);
  }
  48% {
    -webkit-transform: rotate(-10deg) translateY(2rem);
            transform: rotate(-10deg) translateY(2rem);
  }
  55% {
    -webkit-transform: rotate(-10deg) translateY(-2rem);
            transform: rotate(-10deg) translateY(-2rem);
  }
  62% {
    -webkit-transform: rotate(-10deg) translateY(2rem);
            transform: rotate(-10deg) translateY(2rem);
  }
  50% {
    -webkit-transform: rotate(-10deg) translateY(-2rem);
            transform: rotate(-10deg) translateY(-2rem);
  }
  69% {
    -webkit-transform: rotate(-10deg) translateY(2rem);
            transform: rotate(-10deg) translateY(2rem);
  }
  76% {
    -webkit-transform: rotate(-10deg) translateY(-2rem);
            transform: rotate(-10deg) translateY(-2rem);
  }
  83% {
    -webkit-transform: rotate(-10deg) translateY(2rem);
            transform: rotate(-10deg) translateY(2rem);
  }
  90% {
    -webkit-transform: rotate(-10deg) translateY(-2rem);
            transform: rotate(-10deg) translateY(-2rem);
  }
  95% {
    -webkit-transform: rotate(-10deg) translateY(2rem);
            transform: rotate(-10deg) translateY(2rem);
  }
  100% {
    -webkit-transform: rotate(-10deg) translateY(-2rem);
            transform: rotate(-10deg) translateY(-2rem);
  }
}

@keyframes shk-shk {
  7% {
    -webkit-transform: rotate(10deg) translateY(2rem);
            transform: rotate(10deg) translateY(2rem);
  }
  14% {
    -webkit-transform: rotate(10deg) translateY(-2rem);
            transform: rotate(10deg) translateY(-2rem);
  }
  21% {
    -webkit-transform: rotate(10deg) translateY(2rem);
            transform: rotate(10deg) translateY(2rem);
  }
  28% {
    -webkit-transform: rotate(10deg) translateY(-2rem);
            transform: rotate(10deg) translateY(-2rem);
  }
  35% {
    -webkit-transform: rotate(10deg) translateY(2rem);
            transform: rotate(10deg) translateY(2rem);
  }
  41% {
    -webkit-transform: rotate(10deg) translateY(-2rem);
            transform: rotate(10deg) translateY(-2rem);
  }
  48% {
    -webkit-transform: rotate(-10deg) translateY(2rem);
            transform: rotate(-10deg) translateY(2rem);
  }
  55% {
    -webkit-transform: rotate(-10deg) translateY(-2rem);
            transform: rotate(-10deg) translateY(-2rem);
  }
  62% {
    -webkit-transform: rotate(-10deg) translateY(2rem);
            transform: rotate(-10deg) translateY(2rem);
  }
  50% {
    -webkit-transform: rotate(-10deg) translateY(-2rem);
            transform: rotate(-10deg) translateY(-2rem);
  }
  69% {
    -webkit-transform: rotate(-10deg) translateY(2rem);
            transform: rotate(-10deg) translateY(2rem);
  }
  76% {
    -webkit-transform: rotate(-10deg) translateY(-2rem);
            transform: rotate(-10deg) translateY(-2rem);
  }
  83% {
    -webkit-transform: rotate(-10deg) translateY(2rem);
            transform: rotate(-10deg) translateY(2rem);
  }
  90% {
    -webkit-transform: rotate(-10deg) translateY(-2rem);
            transform: rotate(-10deg) translateY(-2rem);
  }
  95% {
    -webkit-transform: rotate(-10deg) translateY(2rem);
            transform: rotate(-10deg) translateY(2rem);
  }
  100% {
    -webkit-transform: rotate(-10deg) translateY(-2rem);
            transform: rotate(-10deg) translateY(-2rem);
  }
}
