/*
A mixin is similiar to a function. It has multiple declarations, as well as can take arguements.

To declare a mixin
@mixin mixin-name

To use a mixin
@include mixin-name

To use a mixin within arguements
@include($argument1, $argument2)

*/

@mixin martini($color, $font, $hover) {
  text-align: center;
  color: $color;
  padding-top: 20vh;
  animation: shk-shk 1s ease infinite; 
  &:hover {
    animation: none;
  }
}

