body {
    background-color: $primary;
}

.title {
    color: white;
    font-family: $fonty;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
}

.stir {
    color: $secondary;
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}

.i-shaker {
    color: $secondary;
    font-size: 240px;
    margin: 0;
    padding: 0;
    text-align: center;
}


.martini {
    @include martini;
}


.martini:hover {
    animation: none;
}

.i-spoon {
    color: $secondary;
    text-align: center;
    font-size: 330px;
}

.stick {
    text-align: center;
    margin-top: -9.5rem;
    animation: spin 10s infinite ease;
}


@keyframes spin {
 
    50% {
        transform: scale(.95, .95);
    }
    
    100% {
        transform: scale(1.1, 1.1);
    }
    
    
}





@keyframes shk-shk {
    
    7% {
        transform: rotate(10deg) translateY(2rem);
   
    }
    
    14% {
        transform: rotate(10deg) translateY(-2rem);
    }
    
    21% {
        transform: rotate(10deg) translateY(2rem);
    }
    
    28% {
        transform: rotate(10deg) translateY(-2rem);
    }
    
    35% {
        transform: rotate(10deg) translateY(2rem);
    }
    
    41% {
        transform: rotate(10deg) translateY(-2rem);
    }
    
    48% {
        transform: rotate(-10deg) translateY(2rem);
    }
    
    55% {
        transform: rotate(-10deg) translateY(-2rem);
    }
    
    62% {
        transform: rotate(-10deg) translateY(2rem);
    }
    
    50% {
        transform: rotate(-10deg) translateY(-2rem);
    }
    
    69% { 
        transform: rotate(-10deg) translateY(2rem);  
    }
    
    76% { 
        transform: rotate(-10deg) translateY(-2rem);  
    }
    
    83% { 
        transform: rotate(-10deg) translateY(2rem);  
    }
    
    90% { 
        transform: rotate(-10deg) translateY(-2rem);
    }
    
    95% { 
        transform: rotate(-10deg) translateY(2rem);
    }
    
    100% { 
        transform: rotate(-10deg) translateY(-2rem);
    }
    
}